/* .button-menu {
  /* -webkit-font-smoothing: antialiased;
  border: none;
  outline: none;
  color: #000;
  font-size: 1em;
  padding: 0.4em 1em;
  line-height: 125px; */
/* margin: 10px;
  padding: 20px;
  border: 2px solid #40ea88;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
} */
button::after {
  position: absolute;
  transition: 0.3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #f7f7f7;
  left: 0;
}

button:hover {
  cursor: pointer;
  color: #000;
  outline: none;
}
