.navbar,
.menu {
  background: #e4e4e4;
}

.navbar {
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  padding-right: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#logo {
  margin-left: 1em;
  float: inline-start;
  position: relative;
  width: 7em;
  height: 7em;
  top: 0;
  left: 0;
  background: transparent;
}
