@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-align: center;
}

p {
  margin: 1em;
  font-size: 1em;
}
