@import url('https://fonts.googleapis.com/css?family=Raleway:400');

* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

body {
  background-color: #e4e4e4;
}

.App {
}

p {
  margin: 1em;
  font-size: 1.2em;
}

.center {
  display: grid;
  height: 200vh;
  margin: 0em;
  place-items: center center;
  z-index: -3;
}

h1 {
  font-size: 4em;
  text-decoration: underline;
  text-decoration-color: #40ea88;
}
